.card {
    width: 100%;
    max-width: 400px;
    height: 645px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(175, 156, 243, 0.00) 7.92%, #AF9CF3 86.48%);
    background-blend-mode: multiply;
  }
  
  /* Header */
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .logo {
    width: 45px; 
    height: 45px; 
    padding-right: 5px;
  }
  
  .branding-text {
    margin-top: 10px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    color: #fff;
    font-size: 30px;
  }
  
  /* Content */
  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Circular Div */
  .circle {
    width: 150px;
    height: 150px;
    background-color: #FFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 40px;
    font-weight: 800;
  }
  
  /* Footer */
  .footer {
    text-align: center;
  }
  
  .start-button {
    width: 100%;
    height: 60px;
    border-radius: 80px;
    background: #FF3B3F;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: Nunito;
  }
  
  @media (max-width: 768px) {
    .card {
      max-width: 100%;
    }
    .branding-text {
      color: rgb(17, 17, 39)
    }
  }
  