.scoreCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.scoreCardHeading{
    margin-top: 20%;
}

.scoreCard{
    font-family: Nunito;
    font-weight: 600;
}

.show-score{
    width: 90%;
    margin-left: 25px;
    margin-top: 10%;
}

.scoreBtn1{
    width: 90%;
    height: 50px;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}
.scoreBtn2{
    width: 90%;
    height: 50px;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 10px;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}

#nextButton{
    width: 250px;
    height: 50px;
    border-radius: 60px;
    margin-left: 10px;
    margin-top: 40px;
    background: #FF3B3F;
    color: #FFF;
    font-size: 15px;
    border: none;
    font-weight: 600;
}