.Root{
    width: 100%;
    height: 665px;
    background: url('https://t4.ftcdn.net/jpg/04/39/13/37/360_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg') no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    .Root{
       background-image: none;
       background-size:unset;
       height: auto;
    }
}